{
	// Work mode: "batch" - processes multiple at once, "chain" - processes sequentially
	"MODE": "batch",

	// Batch size at a time
	"BATCH_SIZE": 30,

	// Gas multiplier for each transaction [min, max]
	"GAS_MULTIPLIER": [1, 1.2],

	// Amount of ETH and ASTR to send in multisend [min, max]
	"MULTISEND_ETH_AMOUNT": [0.00002, 0.00003],
	"MULTISEND_ASTR_AMOUNT": [20.0, 20.01],

	// Sleep time in seconds between wallets or batches [min, max]
	"SLEEP_TIME": [3, 5],

	// Number of NFTs to claim
	"CLAIM_NFT_AMOUNT": 2,

	// NFT contract address
	"NFT_ADDRESS": "0x11f287216397fcb88E0F5DcfD318d3A7E8d1fe08",

	// Minimum amount of ETH and ASTR in collector's wallet to start
	"COLLECTOR_MIN_ETH_AMOUNT": 0.00001,
	"COLLECTOR_MIN_ASTR_AMOUNT": 0.01
}
